<!DOCTYPE HTML>
<html lang="fr">
    {% load static %}
    {% include "head.html" %}
    <body>
        <!-- TOP-BAR -->
       {% include "topbar.html" %}

       <!-- NAV-BAR -->
        {% include "navbar.html" %}
    
        <!-- CAROUSEL -->
       {% include "carousel.html" %}

        <div class="col1" style="width:60%;">
            <div class="box-wrapper">
                <div class="overflow-auto">
                    <main role="main" class="container">
                        <div class="container-content">
                            {% block content %}
                            
                            {% endblock %}
                        </div>
                    </main>
                </div>  
            </div>
        </div>
        <div class="col2" style="width:30%; margin-left:2px;">
            <!-- Timeline -->
            {% include "timeline.html" %}
        </div>
         <!-- Sponsors -->
        <div class="container">
            {% include "sponsors_section.html" %}
        </div>    
        <footer class="footer">
            {% include "footer.html" %}
        </footer>
    </body>
</html>
