{% load static %}
{% load bootstrap_icons %}

<!-- Calendar Start -->
<div class="container-sidebar">
  <h2><span><i class="fa fa-calendar-alt"></i></span> Calendar</h2>
  <hr>
  <div class="container-calendar">
        <h4 style="font-style: oblique; font-size: larger;"><b>Abstract Submission Deadline</b></h4> 
        <p style="color: darkred; font-size: large;">November 30, 2025</p> 
    </div>
    <div class="container-calendar">
        <h4 style="font-style: oblique; font-size: larger;"><b>Abstract Acceptance</b></h4> 
        <p style="color: darkgreen; font-size: large;">January 15, 2026</p> 
    </div>
    <div class="container-calendar">
        <h4 style="font-style: oblique; font-size: larger;"><b>Paper Submission</b></h4> 
        <p style="color: gray; font-size: large;">January 31, 2026</p> 
    </div>
    <div class="container-calendar">
        <h4 style="font-style: oblique; font-size: larger;"><b>Registration Deadline</b></h4> 
        <p style="color: darkred; font-size: large;">February 28, 2026</p> 
    </div>
    <div class="container-calendar">
        <h4 style="font-style: oblique; font-size: larger;"><b>AMGEC-2026</b></h4> 
        <p style="color: gray; font-size: large;">March 26–29, 2026</p> 
    </div>
</div>
<!-- Calendar End -->