{% load static %}
{% load bootstrap_icons %}

<!-- Chairs  Start -->
<div class="container" id="HonoraryChairman">
    <h2 style="color:#043E84;"> <i class="fa fa-user-tie"></i> CHAIRS - AMGEC 2026</h2>
    <section class="welcome-section-grid">
            <div class="welcome-image-grid">
                <div class="team-item rounded overflow-hidden">
                    <div class="d-flex">
                        <img class="img-fluid w-65" src="{% static 'photos/Mongi.jpg'%}" alt="MongiBOUAICHA">
                        <div class="team-social w-25">
                            <a class="btn btn-lg-square btn-outline-primary rounded-circle mt-3" href="https://tn.linkedin.com/in/prof-mongi-bouaicha-678736340"><i class="fab fa-linkedin-in"></i></a>
                            <a class="btn btn-lg-square btn-outline-primary rounded-circle mt-3" href="mailto:mongi.bouaicha@crten.rnrt.tn"><i class="fa fa-envelope"></i></a>
                        </div>
                    </div>                   
                    <div class="p-4">
                        <h5>PR. Mongi BOUAICHA</h5>
                        <span>CEO, CRTEn</span>
                        <p><i class="fa fa-phone"></i>: (+ 216) 79 325 160</p>  
                    </div>
                    <h3 style="color:#114A57; font-size: x-large;">Honorary Chairman</h3>       
                </div>
               
            </div>
            <div class="welcome-image-grid">
                <div class="team-item rounded overflow-hidden">
                    <div class="d-flex">
                        <img class="img-fluid w-65" src="{% static 'photos/profile.png'%}" alt="IbtissemBENASSAKER">
                        <div class="team-social w-25">
                            <a class="btn btn-lg-square btn-outline-primary rounded-circle mt-3" href="https://tn.linkedin.com/in/ibtissem-ben-assaker-035ab225"><i class="fab fa-linkedin-in"></i></a>
                            <a class="btn btn-lg-square btn-outline-primary rounded-circle mt-3" href="mailto:amgec2026@gmail.com"><i class="fa fa-envelope"></i></a>
                        </div>
                    </div>
                    <div class="p-4">
                        <h5>DR. Ibtissem BEN ASSAKER</h5>
                        <span>Associate professor, CRTEn</span>
                        <p><i class="fa fa-phone"></i>: (+216) 52 288 629</p>   
                    </div>
                    <h3 style="color:#114A57; font-size: x-large;">Executive Chairman</h3>       
                </div>
               
            </div>
    </section>
</div>
<!-- Chairs  End -->