{% load static %}
{% load bootstrap_icons %}

<!--  SCIENTIFIC COMMITTEES Start -->
<br>
<div class="containeroc" id="scientificCommittee">
    <h2 style="color:#043E84;"> <i class="fa fa-users-cog"></i> SCIENTIFIC COMMITTEES - AMGEC 2026</h2>
    <h4 style="color:#043E84;font-size:large; text-align: center;">
        <a href="committees#comtunisia" ><span class="fi fi-tn"></span></a>
        <a href="committees#comalgeria" ><span class="fi fi-dz"></span></a>
        <a href="committees#commorroco" ><span class="fi fi-ma"></span></a>
        <a href="committees#comsa" ><span class="fi fi-sa"></span></a>
        <a href="committees#comeg" ><span class="fi fi-eg"></span></a>
        <a href="committees#comfr" ><span class="fi fi-fr"></span></a>
        <a href="committees#comit" ><span class="fi fi-it"></span></a>
        <a href="committees#comes" ><span class="fi fi-es"></span></a>
        <a href="committees#compt" ><span class="fi fi-pt"></span></a>
        <a href="committees#comgr" ><span class="fi fi-gr"></span></a>
        <a href="committees#comtr" ><span class="fi fi-tr"></span></a>
        <a href="committees#comca" ><span class="fi fi-ca"></span></a>
        <a href="committees#comin" ><span class="fi fi-in"></span></a>
    </h4>
    <section  class="sectioncommittee">
        <fieldset class="border rounded-2 p-2">
            <legend class="float-none w-auto px-4">
                <span class="fi fi-tn"></span>
                <span class="titlefieldset" id="comtunisia">TUNISIA</span>
            </legend>
            <div class="containerfieldset">
                <div class="col1field">
                    <div class="containerfieldset">
                        <legend class="institute" >[CRTEn]:Research and Technologies Center of Energy.</legend>
                        <div class="d-flex pt-2">
                            <img class="img-fluid rounded" src="{% static 'imgs/logos/CRTEn_LOGO.png'%}"  alt="CRTEn-LOGO" style="width:55%; height:100px;">
                        </div>
                        <i class="fa fa-user" ></i> <label for="">Prof. Radhouane CHTOUROU</label><br />
                        <i class="fa fa-user"></i> <label for="">Prof. Jamila BEN NACEUR</label><br />
                        <i class="fa fa-user"></i> <label for="">Prof. Selma AOUIDA</label><br />
                        <i class="fa fa-user"></i> <label for="">Dr. Anouar HAJJAJI</label><br />
                        <i class="fa fa-user"></i> <label for="">Prof. Meriem LAZAAR</label><br />
                        <i class="fa fa-user"></i> <label for="">Prof. Daoued MIHOUBI</label><br />
                        <hr style="width:65%; tex-align:center;"/>
                    </div> 
                    <div class="containerfieldset">
                        <legend class="institute">[CERTE]:Water Research and Technology Center.</legend>
                        <div class="d-flex pt-2">
                            <img class="img-fluid rounded" src="{% static 'imgs/supporters/CERTE_logo.jpg'%}"  alt="CERTE-LOGO" style="width:55%; height:100px;">
                        </div>
                        <i class="fa fa-user" ></i> <label for="">Dr. Mounaam MARS</label><br />
                        <i class="fa fa-user"></i> <label for="">Dr. Walid MABROUK</label><br />
                        <hr style="width:65%; tex-align:center;"/>
                    </div>
                    <div class="containerfieldset">
                        <legend class="institute">[CNRSM]:Center National Research Science Materials.</legend>
                        <div class="d-flex pt-2">
                            <img class="img-fluid rounded" src="{% static 'imgs/supporters/CNRSM_logo.jpg'%}"  alt="CNRSM_LOGO" style="width:55%; height:100px;">
                        </div>
                        <i class="fa fa-user" ></i> <label for="">Prof. Karima HORCHANI NAIFER</label><br />
                        <hr style="width:65%; tex-align:center;"/>
                    </div>
                    <div class="containerfieldset">
                        <legend class="institute">[ENIT]:National Engineering School of Tunis.</legend>
                        <div class="d-flex pt-2">
                            <img class="img-fluid rounded" src="{% static 'imgs/sponsors/ENIT_logo.png'%}"  alt="ENIT_LOGO" style="width:100px; height:100px;">
                        </div>
                        <i class="fa fa-user" ></i> <label for="">Prof. Mounir KANZARI</label><br />
                        <hr style="width:65%; tex-align:center;"/>
                    </div>
                    <div class="containerfieldset"> 
                        <legend class="institute">[ENIS]:National Engineering School of Sfax.</legend>
                        <div class="d-flex pt-2">
                            <img class="img-fluid rounded" src="{% static 'imgs/sponsors/ENIS_logo.jpg'%}"  alt="ENIS_LOGO" style="width:55%; height:100px;">
                        </div>
                        <i class="fa fa-user" ></i> <label for="">Prof. Jamel BOUAZIZ</label><br />
                        <hr style="width:65%; tex-align:center;"/>
                    </div>
                    <div class="containerfieldset">  
                        <legend class="institute">[ENIG]:National Engineering School of Gabes.</legend>
                        <div class="d-flex pt-2">
                            <img class="img-fluid rounded" src="{% static 'imgs/sponsors/ENIG_logo.png'%}"  alt="ENIG_LOGO" style="width:100px; height:100px;">
                        </div>
                        <i class="fa fa-user" ></i> <label for="">Prof. Nihel CHEKIR</label><br />
                    </div>
                </div>
                <div class="col2field">
                    <div class="containerfieldset"> 
                        <legend class="institute">[ESSTHS]:Higher School of Sciences and Technology of Hammam Sousse.</legend>
                        <div class="d-flex pt-2">
                            <img class="img-fluid rounded" src="{% static 'imgs/sponsors/ESST_logo.png'%}"  alt="ESSTHS_LOGO" style="width:55%; height:100px;">
                        </div>
                        <i class="fa fa-user" ></i> <label for="">Prof. Habib SAMMOUDA</label><br />
                        <hr style="width:65%; tex-align:center;"/>
                    </div>
                    <div class="containerfieldset"> 
                        <legend class="institute">[FSS]:Faculty of Sciences of Bizerte Sfax.</legend>
                        <div class="d-flex pt-2">
                            <img class="img-fluid rounded" src="{% static 'imgs/sponsors/FSS_logo.jpg'%}"  alt="FSS_LOGO" style="width:100px; height:100px;">
                        </div>
                        <i class="fa fa-user" ></i> <label for="">Prof. Hamadi KHEMAKHEM</label><br />
                        <i class="fa fa-user" ></i> <label for="">Prof. Nejmeddine ABDELMOULA</label><br />
                        <hr style="width:65%; tex-align:center;"/>
                    </div>
                    <div class="containerfieldset"> 
                        <legend class="institute">[FSB]:Faculty of Sciences of Bizerte.</legend>
                        <div class="d-flex pt-2">
                            <img class="img-fluid rounded" src="{% static 'imgs/sponsors/FSB_logo.jpg'%}"  alt="FSB_LOGO" style="width:55%; height:100px;">
                        </div>
                        <i class="fa fa-user" ></i> <label for="">Prof. Kais NAHDI</label><br />
                        <i class="fa fa-user" ></i> <label for="">Prof. Prof. Mouldi ZOUAOUI</label><br />
                        <hr style="width:65%; tex-align:center;"/>
                    </div>
                    <div class="containerfieldset"> 
                        <legend class="institute">[FSM]:Faculty of Sciences of Monastir.</legend>
                        <div class="d-flex pt-2">
                            <img class="img-fluid rounded" src="{% static 'imgs/sponsors/FSM_logo.jpg'%}"  alt="FSM_LOGO" style="width:100px; height:100px;">
                        </div>
                        <i class="fa fa-user" ></i> <label for="">Prof. Mostafa MAJDOUB</label><br />
                        <i class="fa fa-user" ></i> <label for="">Dr. Nabil ZEIRI (FSM)</label><br />
                        <hr style="width:65%; tex-align:center;"/>
                    </div>
                    <div class="containerfieldset"> 
                        <legend class="institute">[FST]:Faculty of Sciences of Tunis.</legend>
                        <div class="d-flex pt-2">
                            <img class="img-fluid rounded" src="{% static 'imgs/sponsors/FST_logo.png' %}"  alt="FST_LOGO" style="width:100px; height:100px;">
                        </div>
                        <i class="fa fa-user" ></i> <label for="">Prof. Fethi JOMNI</label><br />
                        <hr style="width:65%; tex-align:center;"/>
                    </div>
                    <div class="containerfieldset"> 
                        <legend class="institute">[FSG]:Faculty of Sciences of Gabes.</legend>
                        <div class="d-flex pt-2">
                            <img class="img-fluid rounded" src="{% static 'imgs/sponsors/FSG_logo.png'%}"  alt="FSG_LOGO" style="width:100px; height:100px;">
                        </div>
                        <i class="fa fa-user" ></i> <label for="">Prof. Noureddine BOUGUILA</label><br />
                    </div>
                </div>          
            </div>
        </fieldset>
    </section>
    <!--arab communittee -->
    <section  class="sectioncommittee">
        <fieldset fieldset class="border rounded-2 p-2">
            <legend class="float-none w-auto px-4">
                <span  style="color:#1C5B98;"><i class="fa fa-handshake"></i> ARAB COMMITIEES</span>
            </legend>
            <div class="containerfieldset">
                <div class="col1field" style="padding-right:5px; border-color:darkolivegreen;">
                    <div class="containerfieldset">
                       <fieldset  class="border rounded-3 p-2">
                            <legend class="float-none w-auto px-4" style="backgournd-color: #d2dbb2ff;">
                                <span class="fi fi-dz"></span>
                                <span  class="titlefieldset"id="comalgeria" >ALGERIA</span>
                            </legend>
                            <div class="containerfieldset">
                                <div class="col1fieldco">
                                    <div class="containerfieldset"> 
                                        <legend class="institute">[ENSTI]:National Higher School of Technology and Engineering.</legend>
                                        <div class="d-flex pt-2">
                                            <img class="img-fluid rounded" src="{% static 'imgs/committee/ENSTI.png' %}"  alt="ENSTI_LOGO" style="width:100px; height:100px;">
                                        </div>
                                        <i class="fa fa-user" ></i> <label for="">Prof. Kaouther KERBOUA</label><br />
                                    </div>
                                </div>
                                <div class="col2fieldco">
                                    <div class="containerfieldset"> 
                                        <legend class="institute">[UA]:University of Adrar.</legend>
                                        <div class="d-flex pt-2">
                                            <img class="img-fluid rounded" src="{% static 'imgs/committee/UniversityAdrar.png' %}"  alt="University of Adrar_LOGO" style="width:65%; height:100px;">
                                        </div>
                                        <i class="fa fa-user" ></i> <label for="">Dr. Hamza LAKSACI</label><br />
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                    </div> 
                    <div class="containerfieldset">
                        <fieldset  class="border rounded-2 p-2">
                            <legend class="float-none w-auto px-4" style="backgournd-color: #d2dbb2ff;">
                                <span class="fi fi-sa"></span>
                                <span class="titlefieldset" id="comsa">SAUDI ARABIA</span>
                            </legend>
                            <div class="containerfieldset">
                                <div class="col1fieldco">
                                    <div class="containerfieldset"> 
                                        <legend class="institute">[AlIMISIU]:Al Imam Mohammad Ibn Saud Islamic University</legend>
                                        <div class="d-flex pt-2">
                                            <img class="img-fluid rounded" src="{% static 'imgs/committee/AlIMISIU.png' %}"  alt="AlIMISIU_LOGO" style="width:100px; height:100px;">
                                        </div>
                                        <i class="fa fa-user" ></i> <label for="">Dr. Zakarya AHMED</label><br />
                                    </div>
                                </div>
                                <div class="col2fieldco">
                                    <div class="containerfieldset"> 
                                        <legend class="institute">[UD]:University of Dammam</legend>
                                        <div class="d-flex pt-2">
                                            <img class="img-fluid rounded" src="{% static 'imgs/committee/UD.png' %}"  alt="UD_LOGO" style="width:100px; height:100px;">
                                        </div>
                                        <i class="fa fa-user" ></i> <label for="">Dr. Taher GHRIB</label><br />
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                    </div>
                </div>
                <div class="col2field" style="padding-left:5px; border-color:darkolivegreen;">
                    <div class="containerfieldset"> 
                        <fieldset  class="border rounded-3 p-2">
                            <legend class="float-none w-auto px-4" style="backgournd-color: #d2dbb2ff;">
                                <span class="fi fi-ma"></span>
                                <span  class="titlefieldset" id="commorroco">MORROCO</span>
                            </legend>
                            <div class="containerfieldset">
                                <div class="col1fieldco">
                                    <div class="containerfieldset"> 
                                        <legend class="institute">[IRESEN]: Research Institut of Solar and New Energy.</legend>
                                        <div class="d-flex pt-2">
                                            <img class="img-fluid rounded" src="{% static 'imgs/committee/IRESEN.jpg' %}"  alt="IRESEN_LOGO" style="width:100px; height:100px;">
                                        </div>
                                        <i class="fa fa-user" ></i> <label for="">Dr. Mourad RKHISS</label><br />
                                    </div>
                                </div>
                                <div class="col2fieldco">
                                    <div class="containerfieldset"> 
                                        <legend class="institute">[UIZ]:University of IbnZohr.</legend>
                                        <div class="d-flex pt-2">
                                            <img class="img-fluid rounded" src="{% static 'imgs/committee/universityIbnZohr.jpg' %}"  alt="universityIbnZohr_logo" style="width:65%; height:100px;">
                                        </div>
                                        <i class="fa fa-user" ></i> <label for="">Dr. Rachid AIT AKBOUR</label><br />
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                    </div>
                    <div class="containerfieldset"> 
                        <fieldset  class="border rounded-3 p-2">
                            <legend class="float-none w-auto px-4" style="backgournd-color: #d2dbb2ff;">
                                <span class="fi fi-eg"></span>
                                <span  class="titlefieldset" id="comeg">EGYPT</span>
                            </legend>
                            <div class="containerfieldset">
                                <div class="containerfieldset"> 
                                    <legend class="institute">[UA]:Alexandria University.</legend>
                                    <div class="d-flex pt-2">
                                        <img class="img-fluid rounded" src="{% static 'imgs/committee/UALEX.png' %}"  alt="UALEX_LOGO" style="width:100px; height:100px;">
                                    </div>
                                    <i class="fa fa-user" ></i> <label for="">Dr. Ahmed M. RAMADAN</label><br />
                                </div>
                            </div>
                        </fieldset>
                    </div>
                </div>          
            </div>
        </fieldset>
    </section>
    <br/>


     <!--europe communittee -->
    <section  class="sectioncommittee">
        <fieldset fieldset class="border rounded-2 p-2">
            <legend class="float-none w-auto px-4">
                <span  style="color:#1C5B98;"><i class="fa fa-handshake"></i> EUROPE COMMITIEES</span>
            </legend>
            <div class="containerfieldset">
                <div class="col1field" style="padding-right:5px; border-color:darkolivegreen;">
                    <div class="containerfieldset">
                       <fieldset  class="border rounded-3 p-2">
                            <legend class="float-none w-auto px-4" style="backgournd-color: #d2dbb2ff;">
                                <span class="fi fi-fr"></span>
                                <span  class="titlefieldset" id="comfr">FRANCE</span>
                            </legend>
                            <div class="containerfieldset">
                                <div class="col1fieldco">
                                    <div class="containerfieldset">     
                                        <legend class="institute">[AMU]:Aix-Marseille University.</legend>
                                        <div class="d-flex pt-2">
                                            <img class="img-fluid rounded" src="{% static 'imgs/committee/AIXUNIV.png' %}"  alt="AIXUNIV_LOGO" style="width:65%; height:100px;">
                                        </div>
                                        <i class="fa fa-user" ></i> <label for="">Prof. Marc BENDAHAN</label><br />
                                        <i class="fa fa-user" ></i> <label for="">Dr. Jean-Louis LAZZARI</label><br />
                                        <hr style="width:65%; tex-align:center;"/>
                                    </div>
                                </div>
                                <div class="col2fieldco">
                                    <div class="containerfieldset"> 
                                        <legend class="institute">[USP]:University Sorbonne Paris Nord.</legend>
                                        <div class="d-flex pt-2">
                                            <img class="img-fluid rounded" src="{% static 'imgs/committee/USPN.png' %}"  alt="USPN_LOGO" style="width:65%; height:100px;">
                                        </div>
                                        <i class="fa fa-user" ></i> <label for="">Prof. Michael REDOLFI</label><br />
                                        <hr style="width:65%; tex-align:center;"/>
                                    </div>
                                </div>
                                <div class="col3fieldco">
                                    <div class="containerfieldset">     
                                        <legend class="institute">[UL]:University of Lorraine.</legend>
                                        <div class="d-flex pt-2">
                                            <img class="img-fluid rounded" src="{% static 'imgs/committee/UNIVLORAINE.png' %}"  alt="UNIVLORAINE_LOGO" style="width:65%; height:100px;">
                                        </div>
                                        <i class="fa fa-user" ></i> <label for="">Dr. Sébastien LEBEGUE</label><br />
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                    </div> 
                    <div class="containerfieldset">
                       <fieldset  class="border rounded-3 p-2">
                            <legend class="float-none w-auto px-4" style="backgournd-color: #d2dbb2ff;">
                                <span class="fi fi-pt"></span>
                                <span  class="titlefieldset" id="compt">PORTUGAL</span>
                            </legend>
                            <div class="containerfieldset">
                                <div class="col1fieldco">
                                    <div class="containerfieldset"> 
                                        <legend class="institute">[UL]:Universidad del Lisbona.</legend>
                                        <div class="d-flex pt-2">
                                            <img class="img-fluid rounded" src="{% static 'imgs/committee/UL.png' %}"  alt="UL_LOGO" style="width:100px; height:100px;">
                                        </div>
                                        <i class="fa fa-user" ></i> <label for="">Prof. Daniela DUNES</label><br />
                                        <hr style="width:65%; tex-align:center;"/>
                                    </div>
                                </div>
                                <div class="col2fieldco">
                                    <div class="containerfieldset"> 
                                        <legend class="institute">[IST-ID]:Instituto Superior Tecnico para a Investigacao e Desenvolvimento.</legend>
                                        <div class="d-flex pt-2">
                                            <img class="img-fluid rounded" src="{% static 'imgs/committee/IST-ID.png' %}"  alt="IST-ID_LOGO" style="width:65%; height:100px;">
                                        </div>
                                        <i class="fa fa-user" ></i> <label for="">Prof. Diogo SANTOS</label><br />
                                        <hr style="width:65%; tex-align:center;"/>
                                    </div>
                                </div>
                                <div class="col2fieldco">
                                    <div class="containerfieldset"> 
                                        <legend class="institute">[UM]:University of Minho.</legend>
                                        <div class="d-flex pt-2">
                                            <img class="img-fluid rounded" src="{% static 'imgs/committee/UMINHO.png' %}"  alt="UMINHO_LOGO" style="width:65%; height:100px;">
                                        </div>
                                        <i class="fa fa-user" ></i> <label for="">Prof. Pedro ALPUIM</label><br />
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                    </div> 
                </div>
                 <div class="col2field" style="padding-right:5px; border-color:darkolivegreen;">
                    <div class="containerfieldset">
                       <fieldset  class="border rounded-3 p-2">
                            <legend class="float-none w-auto px-4" style="backgournd-color: #d2dbb2ff;">
                                <span class="fi fi-it"></span>
                                <span  class="titlefieldset" id="comit">ITALY</span>
                            </legend>
                            <div class="containerfieldset">
                                <div class="containerfieldset"> 
                                    <legend class="institute">[ITAE]:Institute of Advanced Technologies for Energy.</legend>
                                    <div class="d-flex pt-2">
                                        <img class="img-fluid rounded" src="{% static 'imgs/committee/ITAE.png' %}"  alt="ITAE_LOGO" style="width:65%; height:100px;">
                                    </div>
                                    <i class="fa fa-user" ></i> <label for="">Dr. Gaetano SQUADRITO</label><br />
                                    <hr style="width:65%; tex-align:center;"/>
                                    <legend class="institute">[CNR-ITAE]:Italian Consiglio Nationale dele Ricerche.</legend>
                                    <i class="fa fa-user" ></i> <label for="">Dr. Massimiliano LOFARO</label><br />
                                    <i class="fa fa-user" ></i> <label for="">Dr. Vincenzo BAGLIO</label><br />
                                </div>
                            </div>
                        </fieldset>
                    </div> 
                    <div class="containerfieldset">
                       <fieldset  class="border rounded-3 p-2">
                            <legend class="float-none w-auto px-4" style="backgournd-color: #d2dbb2ff;">
                                <span class="fi fi-es"></span>
                                <span  class="titlefieldset" id="comes">SPAIN</span>
                            </legend>
                            <div class="containerfieldset">
                                <div class="col1fieldco">
                                    <div class="containerfieldset"> 
                                        <legend class="institute">[UV]:University of Valencia.</legend>
                                        <div class="d-flex pt-2">
                                            <img class="img-fluid rounded" src="{% static 'imgs/committee/UNIVALANCIA.png' %}"  alt="UNIVALANCIA_LOGO" style="width:65%; height:100px;">
                                        </div>
                                        <i class="fa fa-user" ></i> <label for="">Prof. Gonzalo A. SAEZ</label><br />
                                    </div>
                                </div>
                                <div class="col2fieldco">
                                    <div class="containerfieldset"> 
                                        <legend class="institute">[CSIC-MADRID]:Consejo Superior de Investigaciones Científicas.</legend>
                                        <div class="d-flex pt-2">
                                            <img class="img-fluid rounded" src="{% static 'imgs/committee/CSIC.jpg' %}"  alt="CSIC_LOGO" style="width:65%; height:100px;">
                                        </div>
                                        <i class="fa fa-user" ></i> <label for="">Prof. Pilar ARANDA</label><br />
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                    </div>  
                    <div class="containerfieldset">
                       <fieldset  class="border rounded-3 p-2">
                            <legend class="float-none w-auto px-4" style="backgournd-color: #d2dbb2ff;">
                                <span class="fi fi-gr"></span>
                                <span  class="titlefieldset" id="comgr">GREECE</span>
                            </legend>
                            <div class="containerfieldset">
                                <div class="col1fieldco">
                                    <div class="containerfieldset"> 
                                        <legend class="institute">[UTH]:University of Thessaley.</legend>
                                        <div class="d-flex pt-2">
                                            <img class="img-fluid rounded" src="{% static 'imgs/committee/UTH.png' %}"  alt="UTH_LOGO" style="width:65%; height:100px;">
                                        </div>
                                        <i class="fa fa-user" ></i> <label for="">Prof. Angeliki BROUZGOU</label><br />
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                    </div> 
                    <div class="containerfieldset">
                       <fieldset  class="border rounded-3 p-2">
                            <legend class="float-none w-auto px-4" style="backgournd-color: #d2dbb2ff;">
                                <span class="fi fi-tr"></span>
                                <span  class="titlefieldset" id="comtr">TURKEY</span>
                            </legend>
                            <div class="containerfieldset">
                                <div class="containerfieldset"> 
                                    <legend class="institute">[TUBITAK]:TUBIT AK-MAM Energy Institute.</legend>
                                    <div class="d-flex pt-2">
                                        <img class="img-fluid rounded" src="{% static 'imgs/committee/TUBITAK.png' %}"  alt="TUBITAK_LOGO" style="width:65%; height:100px;">
                                    </div>
                                    <i class="fa fa-user" ></i> <label for="">Prof. Suha Y AZICI</label><br />
                                </div>
                            </div>
                        </fieldset>
                    </div> 
                </div>
            </div>
        </fieldset>
    </section>


    <!--world wide communittee -->
    <section  class="sectioncommittee">
        <fieldset fieldset class="border rounded-2 p-2">
            <legend class="float-none w-auto px-4">
                <span  style="color:#1C5B98;"><i class="fa fa-handshake"></i> WORLDWIDE COMMITIEES</span>
            </legend>
            <div class="containerfieldset">
                <div class="col1field" style="padding-left:5px; border-color:darkolivegreen;">
                    <fieldset  class="border rounded-3 p-4">
                        <legend class="float-none w-auto px-4">
                            <span class="fi fi-ca"></span>
                            <span class="titlefieldset" id="comca">CANADA</span>
                        </legend>
                        <div class="container" style="color:#043E84;">
                            <legend class="institute">[UQ]:Québec University.</legend>
                            <div class="d-flex pt-4">
                                <img class="img-fluid rounded" src="{% static 'imgs/committee/UQ.png'%}"  alt="University of Québec LOGO" style="width:55%; height:100px;">
                            </div>
                            <i class="fa fa-user" ></i> <label for="">Prof. Ali EL KHAKANI</label><br />               
                        </div>
                    </fieldset>  
                </div>    
                <div class="col2field" style="padding-left:5px; border-color:darkolivegreen; justify-self: center;">
                    <fieldset  class="border rounded-3 p-4">
                        <legend class="float-none w-auto px-4">
                            <span class="fi fi-in"></span>
                            <span class="titlefieldset" id="comin">INDIA</span>
                        </legend>
                        <div class="container" style="color:#043E84;">
                            <legend class="institute">[VIT]:Vellore Institute of Technology.</legend>
                            <div class="d-flex pt-4">
                                <img class="img-fluid rounded" src="{% static 'imgs/committee/VIT.png'%}"  alt="VIT LOGO" style="width:55%; height:100px;">
                            </div>
                            <i class="fa fa-user" ></i> <label for="">Prof. Musthafa OTT AKAM THOTIYL</label><br />               
                        </div>
                    </fieldset>
                </div>
            </div>
        </fieldset>
    </section>
</div>
<!--  SCIENTIFIC COMMITTEES END -->












