{% load static %}
{% load bootstrap_icons %}

<!-- Committe ORG Start -->
<br>
<div class="containeroc" id="OrganizingCommittee">
    <h2 style="color:#043E84;"> <i class="fa fa-users"></i> ORGANIZING COMMITTEE - AMGEC 2026</h2>
    <section  class="sectioncommittee">
        <fieldset fieldset class="border rounded-2 p-2">
            <legend class="float-none w-auto px-4">
                <span class="fi fi-tn"></span>
                <span class="institute">TUNISIA</span>
            </legend>
            <div class="containerfieldset">
                <div class="col1fieldco">
                    <i class="fa fa-user" ></i> <label for="">Prof. Lazhar EL MANAI</label><br />
                    <i class="fa fa-user"></i> <label for="">Prof. Wissem DIMASSI</label><br />
                    <i class="fa fa-user"></i> <label for="">Dr. Afrah BARDAOUI</label><br />
                    <i class="fa fa-user"></i> <label for="">Dr. Amira SIAI</label><br />
                    <i class="fa fa-user"></i> <label for="">Dr. Boutheina BEN FRAJ</label><br />
                    
                </div>
                <div class="col2fieldco">
                    <i class="fa fa-user"></i> <label for="">Dr. Feten I. H. RHOUMA</label><br />
                    <i class="fa fa-user"></i> <label for="">Dr. Houda HACHEM</label><br />
                    <i class="fa fa-user" ></i> <label for="">Dr. Ines DHIFALLAH</label><br />
                    <i class="fa fa-user"></i> <label for="">Dr. Khaled CHARRADI</label><br />
                    <i class="fa fa-user"></i> <label for="">Dr. Koussai LAZAAR</label><br />
                </div>
                <div class="col3fieldco"> 
                    <i class="fa fa-user"></i> <label for="">Dr. Mokhtar KARYAOUI</label><br />
                    <i class="fa fa-user"></i> <label for="">Dr. Nawel KHALDI</label><br />
                    <i class="fa fa-user"></i> <label for="">Dr. Rabia BENABDERRAHMANE</label><br />
                    <i class="fa fa-user"></i> <label for="">Ing. Kalthoum MAKHLOUF</label><br />
                    <i class="fa fa-user"></i> <label for="">Mme. Najla BEN HASSINE</label><br />
                </div>
            </div>
        </fieldset>
    </section>
</div>













