<head>

    <meta charset="UTF-8"/>
    <meta content="text/html; charset=utf-8" http-equiv="content-type"/>
    <title>AMGEC-2026::{{page_title}}</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/> 
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta content="Green Energy, Renewable energy, Advanced Materials, AMGEC" name="keywords"/>
    <meta content="4th edition of the Advanced Materials and Green Energy Conference" name="description"/>

    {% load static %}
    {% load django_bootstrap5 %}
    
    <!-- Favicon -->
    <link rel="icon" href="{% static 'imgs/favicon.ico'%}" type="image/icon type" />

    <!-- CSS -->
    {% include "css_block.html" %}

    <!-- JS -->
    {% include "js_block.html" %}

</head>