{% load static %}
{% load bootstrap_icons %}


<!-- Information Start -->
<div class="col1">
    <div class="container">
        <section id="informations">
            <h4 style="color:darkolivegreen;">CONTACT INFORMATIONS</h4>
            <p style="text-align: justify;"><i class="fa fa-map-marker-alt me-3"></i>Research and Technologies Center of Energy (CRTEn)</p>
            <p class="mb-2"><i class="fa fa-phone me-3"></i>(+216) 79 325 215 - (+216) 52 288 629 </p>
            <p class="mb-2"><i class="fa fa-envelope me-3"></i>conference@amgec-crten.com - amgec2026@gmail.com </p>
        </section>
    </div>

</div>
<!-- Information END-->