{% extends "base.html" %}

{% load static %}
{% load bootstrap_icons %}

{% block content %}
<!-- MAJOR TOPICS Start -->
<div class="container">
    <section class="topicsection" id="keynotes">
        <div class="text-center mx-auto mb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 600px;">
            <h1 class="mb-4" style="color:#043E84; font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">LIST OF TOPICS</h1>
            <h2 class="mb-4" style="color:#043E84; font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif">AMGEC - 2026 CONFERENCE </h2>
            <div class="col1fieldtp">
                <div class="topicpanel" id="topic1">
                    <div class="service-item rounded overflow-hidden">
                        <br>
                        <br>
                        <img class="img-fluid rounded" src="{% static 'imgs/topics/topic1.png'%}"  alt="topi1_logo">
                        <div class="position-relative p-6 pt-0">
                            <div class="service-icon">
                                <img src="{% static 'imgs/topics/ge1.png'%}"  alt="topicon1_logo">
                            </div>
                            <h4 class="topicpanel-title"><span class="topicpanel-title">Renewable Energy - Sustainability</span></h4>
                            <ul>
                                <li><i class="fa fa-check"></i>Advanced Solar Energy</li>
                                <li><i class="fa fa-check"></i>Marine, Wind Energy</li>
                                <li><i class="fa fa-check"></i>Geothermal, Hydropower</li>
                                <li><i class="fa fa-check"></i>Bioenergy, waste valorization</li>
                                <li><i class="fa fa-check"></i>Integrated Systems,Energy Efficiency</li>
                            </ul>
                            <a class="fw-medium" href="">SUBMIT</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col2fieldtp">
                <div class="topicpanel" id="topic2">
                    <div class="service-item rounded overflow-hidden">
                        <br>
                        <br>
                        <img class="img-fluid rounded" src="{% static 'imgs/topics/topic2.png'%}"  alt="topi2_logo">
                        <div class="position-relative p-6 pt-0">
                            <div class="service-icon">
                                 <img src="{% static 'imgs/topics/ge2.png'%}"  alt="topicon2_logo">
                            </div>
                            <h4><span class="topicpanel-title">Hydrogen Technology, Energy Storage systems</span></h4>
                            <ul>
                                <li><i class="fa fa-check"></i>Solar-driven Hydrogen production</li>
                                <li><i class="fa fa-check"></i>Electrocatalysis, Bio-inspired Routes</li>
                                <li><i class="fa fa-check"></i>Hydrogen storage and Fuel cell Technologies</li>
                                <li><i class="fa fa-check"></i>Next-Gen Batteries</li>
                                <li><i class="fa fa-check"></i>Supercapacitors Hybrid Energy Systems</li>
                                <li><i class="fa fa-check"></i>Cross-cutting Challenges</li>
                            </ul>
                            <a class="fw-medium" href="">SUBMIT</a>
                        </div>
                    </div>
                </div>
            </div>
<!---->
<div class="col1fieldtp">
                <div class="topicpanel" id="topic1">
                    <div class="service-item rounded overflow-hidden">
                        <br>
                        <br>
                        <img class="img-fluid rounded" src="{% static 'imgs/topics/topic3.png'%}"  alt="topi3_logo">
                        <div class="position-relative p-6 pt-0">
                            <div class="service-icon">
                                <img src="{% static 'imgs/topics/ge3.png'%}"  alt="topicon3_logo">
                            </div>
                            <h4 class="topicpanel-title"><span class="topicpanel-title">Renewable Energy - Sustainability</span></h4>
                            <ul>
                                <li><i class="fa fa-check"></i>Advanced Solar Energy</li>
                                <li><i class="fa fa-check"></i>Marine, Wind Energy</li>
                                <li><i class="fa fa-check"></i>Geothermal, Hydropower</li>
                                <li><i class="fa fa-check"></i>Bioenergy, waste valorization</li>
                                <li><i class="fa fa-check"></i>Integrated Systems,Energy Efficiency</li>
                            </ul>
                            <a class="fw-medium" href="">SUBMIT</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col2fieldtp">
                <div class="topicpanel" id="topic2">
                    <div class="service-item rounded overflow-hidden">
                        <br>
                        <br>
                        <img class="img-fluid rounded" src="{% static 'imgs/topics/topic4.png'%}"  alt="topi4_logo">
                        <div class="position-relative p-6 pt-0">
                            <div class="service-icon">
                                 <img src="{% static 'imgs/topics/ge4.png'%}"  alt="topicon4_logo">
                            </div>
                            <h4><span class="topicpanel-title">Hydrogen Technology, Energy Storage systems</span></h4>
                            <ul>
                                <li><i class="fa fa-check"></i>Solar-driven Hydrogen production</li>
                                <li><i class="fa fa-check"></i>Electrocatalysis, Bio-inspired Routes</li>
                                <li><i class="fa fa-check"></i>Hydrogen storage and Fuel cell Technologies</li>
                                <li><i class="fa fa-check"></i>Next-Gen Batteries</li>
                                <li><i class="fa fa-check"></i>Supercapacitors Hybrid Energy Systems</li>
                                <li><i class="fa fa-check"></i>Cross-cutting Challenges</li>
                            </ul>
                            <a class="fw-medium" href="">SUBMIT</a>
                        </div>
                    </div>
                </div>
            </div>

<!---->
        </div>
    </section>
</div>
<!--  MAJOR WORKSHOP  END -->
{% endblock %}