{% extends "basebig.html" %}

{% load static %}
{% load bootstrap_icons %}

{% block content %}

    <!-- PROGRAM START -->
<section id="program">    
    <div class="body-timeline">
        <section id="conference-timeline">
            <div class="timeline-start">AMGEC 2026 CONFERENCE START</div>
            <div class="conference-center-line"></div>
            <div class="conference-timeline-content">
            <!-- Article -->
            <div class="timeline-article">
                <div class="content-left-container">
                <div class="content-left">
                    <p>REGISTATION <span class="article-number">01</span></p>
                </div>
                <span class="timeline-author">First day - Morning</span>
                </div>
                <div class="content-right-container">
                <div class="content-right">
                    <p>PANEL 1. <span class="article-number">02</span></p>
                </div>
                <span class="timeline-author">First day - Afternoon</span>
                </div>
                <div class="meta-date" style="color:white; background-color: darkred;">
                <span class="date">26</span>
                <span class="month">MARCH</span>
                </div>
            </div>
            <!-- // Article -->
            
            <!-- Article -->
            <div class="timeline-article">
                <div class="content-left-container">
                <div class="content-left">
                    <p>PANEL 2 <span class="article-number">01</span></p>
                </div>
                <span class="timeline-author">Second day - Morning</span>
                </div>
                <div class="content-right-container">
                <div class="content-right">
                    <p>PANEL 3 <span class="article-number">02</span></p>
                </div>
                <span class="timeline-author">Second day - Afternoon</span>
                </div>
                <div class="meta-date">
                <span class="date">27</span>
                <span class="month">MARCH</span>
                </div>
            </div>
            <!-- // Article -->
            
            <!-- Article -->
            <div class="timeline-article">
                <div class="content-left-container">
                <div class="content-left">
                    <p>PANEL 4 <span class="article-number">01</span></p>
                </div>
                <span class="timeline-author">Third day - Morning</span>
                </div>
                <div class="content-right-container">
                <div class="content-right">
                    <p>PANEL 5 <span class="article-number">02</span></p>
                </div>
                <span class="timeline-author">Third day - Afternoon</span>
                </div>
                <div class="meta-date">
                <span class="date">28</span>
                <span class="month">MARCH</span>
                </div>
            </div>
            <!-- // Article -->

            <!-- Article -->
            <div class="timeline-article">
                <div class="content-left-container">
                <div class="content-left">
                    <p>PANEL 6<span class="article-number">01</span></p>
                </div>
                <span class="timeline-author">Forth day - Morning</span>
                </div>
                <div class="content-right-container">
                <div class="content-right">
                    <p> REWARD - CLOSING CEREMONY <span class="article-number">02</span></p>
                </div>
                <span class="timeline-author">Forth day - Afternoon</span>
                </div>
                <div class="meta-date">
                <span class="date">29</span>
                <span class="month">MARCH</span>
                </div>
            </div>
            <!-- // Article -->
            </div>
            <div class="timeline-end">AMGEC 2026 CONFERENCE END</div>
        </section>
    </div>
</section>
    <!-- // PROGRAM END -->
{% endblock %}
