{% load static %}
{% load bootstrap_icons %}

<!-- Sponsors Start -->
<h2 style="color:#043E84;">SPONSORS</h3>
<section id="sponsors" class="welcome-section-grid" style="margin-left: 5px; margin-right: 5px; width:auto;">
    <div class="col1" >
        <div class="row g-6">
            <div class="col-4">
                <img class="img-fluid rounded" src="{% static 'imgs/sponsors/ENIT_logo.png'%}"  alt="ENIT_logo">
            </div>
            <div class="col-4">
                <img class="img-fluid rounded" src="{% static 'imgs/sponsors/ENIS_logo.jpg'%}"  alt="ENIS_logo">
            </div>            
            <div class="col-4">
                <img class="img-fluid rounded" src="{% static 'imgs/sponsors/ENIG_logo.png'%}" alt="ENIG_logo">
            </div>
            <div class="col-4">
                <img class="img-fluid rounded" src="{% static 'imgs/sponsors/ESST_logo.png'%}" alt="ESST_logo">
            </div>
            <div class="col-4">
                <img class="img-fluid rounded" src="{% static 'imgs/sponsors/ISTIC_logo.jpg'%}" alt="ISTIC_logo">
            </div>
            <div class="col-4">
                <img class="img-fluid rounded" src="{% static 'imgs/sponsors/FSG_logo.png'%}"  alt="FSG_logo">
            </div>
            <div class="col-4">
                <img class="img-fluid rounded" src="{% static 'imgs/sponsors/UC_logo.png'%}"  alt="UC_logo">
            </div>
            <div class="col-4">
                <img class="img-fluid rounded" src="{% static 'imgs/sponsors/FSM_logo.jpg'%}"  alt="FSM_logo">
            </div>
        </div>
    </div>
    <div class="col2">
        <div class="row g-6">
            <div class="col-4">
                <img class="img-fluid rounded" src="{% static 'imgs/sponsors/FSS_logo.jpg'%}" alt="FSS_logo">
            </div>
            <div class="col-4">
                <img class="img-fluid rounded" src="{% static 'imgs/sponsors/FST_logo.png'%}"  alt="FST_logo">
            </div>
            <div class="col-4">
                <img class="img-fluid rounded" src="{% static 'imgs/sponsors/UTM_logo.png'%}"  alt="UTM_logo">
            </div>
            <div class="col-4">
                <img class="img-fluid rounded" src="{% static 'imgs/supporters/CERTE_logo.jpg'%}"  alt="CERTE LOGO">
            </div>
            <div class="col-4">
                <img class="img-fluid rounded" src="{% static 'imgs/supporters/CNRSM_logo.jpg'%}" alt="CNRSM LOGO">
            </div>
            <div class="col-4">
                <img class="img-fluid rounded" src="{% static 'imgs/supporters/ECOPARK_logo.jpg'%}" alt="supporters org">
            </div>
        </div>
</section>
<!-- SUPPORTERS Start -->

