{% load static %}
{% load bootstrap_icons %}

{% block content %} 
<section id="timeline">
    <!-- Timeline Start -->
    <h2 class="timeline-titlesec"><span><i class="fa fa-hourglass-half"></i></span> TIMELINE</h3>
    <hr>
    <div class="container-timelime-now left"> 
      <div class="content">
        <h2><i class="fa fa-hand-point-right"></i> 2025</h2>
        <h4 style="font-style: oblique; font-size:medium;"><b>Abstract Submission</b></h4> 
        <p style="color: darkred; font-size:medium;">November 30, 2025</p> 
      </div>
    </div>
    <div class="container-timelime right">
      <div class="content">
        <h2>2026</h2>
        <h4 style="font-style: oblique; font-size:medium;"><b>Abstract Acceptance</b></h4> 
        <p style="color: darkred; font-size:medium;">January 15, 2026</p> 
      </div>
    </div>
    <div class="container-timelime left">
      <div class="content">
          <h2>2026</h2>
          <h4 style="font-style: oblique; font-size:medium;"><b>Paper Submission</b></h4> 
          <p style="color: darkred; font-size:medium;">February 28, 2026</p> 
        </div>
      </div>
      <div class="container-timelime right">
        <div class="content">
          <h2>2026</h2>
          <h4 style="font-style: oblique; font-size:medium;"><b>Registration Deadline</b></h4> 
          <p style="color: darkred; font-size:medium;">February 28, 2026</p> 
        </div>
      </div>
      <div class="container-timelime left">
        <div class="content">
          <h2>2026</h2>
          <h4 style="font-style: oblique; font-size:medium;"><b>AMGEC-2026</b></h4> 
          <p style="color: darkred; font-size:medium;">March 26–29, 2026</p> 
        </div>
      </div>
  </section>
{% endblock %}
<!--  Timeline end -->