{% extends "basetopic.html" %}

{% load static %}
{% load bootstrap_icons %}

{% block content %}
<!-- MAJOR TOPICS Start -->

    <section class="topicsection" id="keynotes">
        <div class="text-center mx-auto mb-5 wow fadeInUp" data-wow-delay="0.1s">
            <h1 class="mb-4" style="color:#043E84; font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">LIST OF TOPICS</h1>
            <h2 class="mb-4" style="color:#043E84; font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif">AMGEC - 2026 CONFERENCE </h2>
            <div class="col1fieldtp">
                <div class="topicpanel" id="topic1">
                    <div class="service-item rounded overflow-hidden">
                        <br>
                        <br>
                        <img class="img-fluid rounded" src="{% static 'imgs/topics/Topic1.jpg'%}"  alt="topi1_logo" style="width:450px; height:300px;">
                        <div class="position-relative p-6 pt-0">
                            <div class="service-icon">
                                <img src="{% static 'imgs/topics/ge1.png'%}"  alt="topicon1_logo">
                            </div>
                            <h4 class="topicpanel-title"><span class="topicpanel-title">Renewable Energy</span></h4>
                            <h4 class="topicpanel-title"><span class="topicpanel-title">Sustainability</span></h4>
                            <ul>
                                <li><i class="fa fa-check"></i>Advanced Solar Energy</li>
                                <li><i class="fa fa-check"></i>Marine, Wind Energy</li>
                                <li><i class="fa fa-check"></i>Geothermal, Hydropower</li>
                                <li><i class="fa fa-check"></i>Bioenergy, waste valorization</li>
                                <li><i class="fa fa-check"></i>Integrated Systems, Energy Efficiency</li>
                            </ul>
                            <a class="fw-medium" href=""><span class="topicsidebarbtnover">SUBMIT</span></a>
                        </div>
                    </div>
                </div>
                <div class="topicpanel" id="topic2">
                    <div class="service-item rounded overflow-hidden">
                        <br>
                        <br>
                        <img class="img-fluid rounded" src="{% static 'imgs/topics/Topic3.jpg'%}"  alt="topi3_logo" style="width:450px; height:300px;">
                        <div class="position-relative p-6 pt-0">
                            <div class="service-icon">
                                <img src="{% static 'imgs/topics/ge3.png'%}"  alt="topicon3_logo">
                            </div>
                            <h4 class="topicpanel-title"><span class="topicpanel-title">Advanced materials</span></h4>
                            <h4 class="topicpanel-title"><span class="topicpanel-title">and applications</span></h4>
                            <ul>
                                <li><i class="fa fa-check"></i>Advanced Characterization</li>
                                <li><i class="fa fa-check"></i>Smart Materials for greener future</li>
                                <li><i class="fa fa-check"></i>Energy Materials, Catalysis & Carbon Capture</li>
                                <li><i class="fa fa-check"></i>Sensors & water Technologies</li>
                                <li><i class="fa fa-check"></i>Optoelectronics Silica Sand Valorisation</li>
                            </ul>
                            <a class="fw-medium" href=""><span class="topicsidebarbtnover">SUBMIT</span></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col2fieldtp">
                <div class="topicpanel" id="topic3">
                    <div class="service-item rounded overflow-hidden">
                        <br>
                        <br>
                        <img class="img-fluid rounded" src="{% static 'imgs/topics/Topic2.jpg'%}"  alt="topi2_logo" style="width:450px; height:300px;">
                        <div class="position-relative p-6 pt-0">
                            <div class="service-icon">
                                 <img src="{% static 'imgs/topics/ge2.png'%}"  alt="topicon2_logo">
                            </div>
                            <h4 class="topicpanel-title"><span class="topicpanel-title">Hydrogen Technology</span></h4>
                            <h4 class="topicpanel-title"><span class="topicpanel-title">Energy Storage systems</span></h4>
                            <ul>
                                <li><i class="fa fa-check"></i>Solar-driven Hydrogen production</li>
                                <li><i class="fa fa-check"></i>Electrocatalysis, Bio-inspired Routes</li>
                                <li><i class="fa fa-check"></i>Hydrogen storage and Fuel cell Technologies</li>
                                <li><i class="fa fa-check"></i>Next-Gen Batteries, Cross-cutting Challenges</li>
                                <li><i class="fa fa-check"></i>Supercapacitors Hybrid Energy Systems</li>
                            </ul>
                            <a class="fw-medium" href=""><span class="topicsidebarbtnover">SUBMIT</span></a>
                        </div>
                    </div>
                </div>
                <div class="topicpanel" id="topic4">
                    <div class="service-item rounded overflow-hidden">
                        <br>
                        <br>
                        <img class="img-fluid rounded" src="{% static 'imgs/topics/Topic4.jpg'%}"  alt="topi4_logo" style="width:450px; height:300px;">
                        <div class="position-relative p-6 pt-0">
                            <div class="service-icon">
                                <img src="{% static 'imgs/topics/ge4.png'%}"  alt="topicon4_logo">
                            </div>
                            <h4 class="topicpanel-title"><span class="topicpanel-title">Modeling, Simulation</span></h4>
                            <h4 class="topicpanel-title"><span class="topicpanel-title">Digitalization of Energy Systems</span></h4>
                            <ul>
                                <li><i class="fa fa-check"></i>Computational Modeling</li>
                                <li><i class="fa fa-check"></i>Hybrid, Renewable Energy Systems</li>
                                <li><i class="fa fa-check"></i>Geothermal, Hydropower</li>
                                <li><i class="fa fa-check"></i>Grid Integration, Smart Energy Management</li>
                                <li><i class="fa fa-check"></i> Power Fluctuation Predictions</li>
                            </ul>
                            <a class="fw-medium" href=""><span class="topicsidebarbtnover">SUBMIT</span></a>
                        </div>
                    </div>
                </div>               
            </div>
        </div>
    </section>

<!--  MAJOR WORKSHOP  END -->
{% endblock %}
