{% load static %}
{% load bootstrap_icons %}

<!-- Topic bar Start -->
<div class="container-sidebar">
  <h2><span><i class="fa fa-clipboard-check"></i></span> Topics</h2>
  <hr>
  <div class="container-topicbar">
    <section id="cards-container">

      <!-- Zoom TOPIC 1 -->
      <div class="card-wrapper-left">
        <div class="card">
          <div>
            <div class="card-top gradient-blue">
              <div class="icon">
                <!--i class="fa fa-lightbulb"></i-->
                <img class="img-fluid rounded" src="{% static 'imgs/topics/RenewableEnergy.png'%}"  alt="RenewableEnergy_logo">
              </div>
            </div>
            <div class="card-content">
              <h2 class="card-title">Renewable Energy & Sustainability</h2>
              <!--button id="topicsidebarbtn" class="btn btn-primary overlay-btn py-2 px-3 mt-2"><span class="topicsidebarbtn">SUBMIT</span></button-->
            </div>
          </div>
          <!--div class="overlay zoom">
            <h1 class="card-title">SUB-TOPICS</h1>
            <hr style="width:55%; tex-align:center;"/>
            <p>Advanced Solar Energy.</p>
            <p>Geothermal and Hydropower.</p>
            <p>Bioenergy & waste valorization.</p>
            <p>Integrated Systems & Energy Efficiency.</p>
            <hr style="width:55%; tex-align:center;"/>
            <button class="btn btn-default overlay-btn"><span class="topicsidebarbtnover">SUBMISSION</span></button>
          </div-->
        </div>
      </div>  

      <!-- Zoom TOPIC  2 -->
      <div class="card-wrapper-right-1">
        <div class="card">
          <div>
            <div class="card-top gradient-green">
              <div class="icon">
                <img class="img-fluid rounded" src="{% static 'imgs/topics/Hydrogene.png'%}"  alt="H2_logo">
              </div>
            </div>
            <div class="card-content">
              <h2 class="card-title">Hydrogen Technology & Energy Storage systems</h2>
              <!--button id="topicsidebarbtn" class="btn btn-primary overlay-btn py-2 px-3 mt-2"><span class="topicsidebarbtn">SUBMIT</span></button-->
            </div>
          </div>
          <!--div class="overlay zoom">
            <h1 class="card-title">SUB-TOPICS</h1>
            <hr style="width:55%; tex-align:center;"/>
            <p>Solar-driven Hydrogen production.</p>
            <p>Electrocatalysis & Bio-inspired Routes.</p>
            <p>Hydrogen storage & Fuel cell Technologies.</p>
            <p>Next-Gen Batteries.</p>
            <p>Supercapacitors Hybrid Energy Systems.</p>
            <hr style="width:55%; tex-align:center;"/>
            <button class="btn btn-default overlay-btn"><span class="topicsidebarbtnover">SUBMISSION</span></button>
          </div-->
        </div>
      </div>

      <!-- Zoom TOPIC 3 -->
      <div class="card-wrapper-left">
        <div class="card">
          <div>
            <div class="card-top gradient-pink">
              <div class="icon">
                <img class="img-fluid rounded" src="{% static 'imgs/topics/material.png'%}"  alt="material_logo">
              </div>
            </div>
            <div class="card-content">
              <h2 class="card-title">Advanced materials and applications</h2>
              <!--button id="topicsidebarbtn" class="btn btn-primary overlay-btn py-2 px-3 mt-2"><span class="topicsidebarbtn">SUBMIT</span></button-->
            </div>
          </div>
          <!--div class="overlay zoom">
            <h1 class="card-title">SUB-TOPICS</h1>
            <hr style="width:55%; tex-align:center;"/>
            <p>Advanced Characterization.</p>
            <p>Smart Materials for greener future.</p>
            <p>Catalysis & Carbon Capture.</p>
            <p>Sensors & water Technologies.</p>
            <p>Optoelectronics Silica Sand Valorisation.</p>
            <hr style="width:55%; tex-align:center;"/>
            <button class="btn btn-default overlay-btn"><span class="topicsidebarbtnover">SUBMISSION</span></button>
          </div-->
        </div>
      </div>  

      <!-- Zoom TOPIC  4 -->
      <div class="card-wrapper-right-1">
        <div class="card">
          <div>
            <div class="card-top gradient-mauve">
              <div class="icon">
                <img class="img-fluid rounded" src="{% static 'imgs/topics/photodigit.png'%}"  alt="photodigit_logo">
              </div>
            </div>
            <div class="card-content">
              <h2 class="card-title">Modeling, Simulation & Digitalization of Energy Systems</h2>
              <!--button id="topicsidebarbtn" class="btn btn-primary overlay-btn py-2 px-3 mt-2"><span class="topicsidebarbtn">SUBMIT</span></button-->
            </div>
          </div>
          <!--div class="overlay zoom">
            <h1 class="card-title">SUB-TOPICS</h1>
            <hr style="width:55%; tex-align:center;"/>
            <p>Computational Modeling.</p>
            <p>Hybrid & Renewable Energy Systems.</p>
            <p>Grid Integration & </p>
            <p>Smart Energy Management.</p>
            <hr style="width:55%; tex-align:center;"/>
            <button class="btn btn-default overlay-btn"><span class="topicsidebarbtnover">SUBMISSION</span></button>
          </div-->
        </div>
      </div>
      </section>
  </div>
</div>
<!-- Topic bar End -->